helpers-stuff/global-flow.json
[
    {
        "id": "e8d1e6aa.5a43b8",
        "type": "tab",
        "label": "global"
    },
    {
        "id": "4a3ba4c2.f48d1c",
        "type": "inject",
        "z": "e8d1e6aa.5a43b8",
        "name": "upsert",
        "topic": "",
        "payload": "{\"name\": \"ES_INDEX\", \"value\": \"channe1l\",   \"type\" : \"string\" }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 111,
        "y": 88,
        "wires": [
            [
                "37621e85.deaaf2"
            ]
        ]
    },
    {
        "id": "27bf1927.31e266",
        "type": "http request",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 557.5,
        "y": 238,
        "wires": [
            [
                "5970f8e6.534a58",
                "d02e03e6.fab0b",
                "cb0651b9.d7cb1"
            ]
        ]
    },
    {
        "id": "5970f8e6.534a58",
        "type": "debug",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 790,
        "y": 199,
        "wires": []
    },
    {
        "id": "86241e16.e083e",
        "type": "inject",
        "z": "e8d1e6aa.5a43b8",
        "name": "find_all",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 107,
        "y": 314,
        "wires": [
            [
                "29e2a759.f98618"
            ]
        ]
    },
    {
        "id": "29e2a759.f98618",
        "type": "http request",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "http://elasticsearch:9200/globalconfig/default/_search",
        "tls": "",
        "x": 268.5,
        "y": 388,
        "wires": [
            [
                "56627252.affe2c"
            ]
        ]
    },
    {
        "id": "284ecb07.924044",
        "type": "debug",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1132,
        "y": 636,
        "wires": []
    },
    {
        "id": "37621e85.deaaf2",
        "type": "function",
        "z": "e8d1e6aa.5a43b8",
        "name": "upsert_request",
        "func": "const ES_URL = 'elasticsearch';\nconst ES_PORT = '9200';\nconst ES_INDEX = 'globalconfig';\n\nconst id = msg.payload.name;\n\nconst url = `http://${ES_URL}:${ES_PORT}/${ES_INDEX}/default/${id}`;\n\n\nmsg.url = url;\nmsg.method = 'POST';\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 249.5,
        "y": 137,
        "wires": [
            [
                "1d09d093.9bd19f"
            ]
        ]
    },
    {
        "id": "1d09d093.9bd19f",
        "type": "change",
        "z": "e8d1e6aa.5a43b8",
        "name": "delete_properties",
        "rules": [
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.id",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 377.5,
        "y": 201,
        "wires": [
            [
                "27bf1927.31e266"
            ]
        ]
    },
    {
        "id": "1e121541.d3b43b",
        "type": "split",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "splt": "\\n",
        "x": 758.5,
        "y": 498,
        "wires": [
            [
                "8a5bf237.4d43f"
            ]
        ]
    },
    {
        "id": "56627252.affe2c",
        "type": "change",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hits.hits",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 478.5,
        "y": 418,
        "wires": [
            [
                "1e121541.d3b43b"
            ]
        ]
    },
    {
        "id": "82886cfc.a7675",
        "type": "join",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "",
        "count": "",
        "x": 1000.5,
        "y": 597,
        "wires": [
            [
                "284ecb07.924044",
                "497fa41d.2acaec"
            ]
        ]
    },
    {
        "id": "8a5bf237.4d43f",
        "type": "function",
        "z": "e8d1e6aa.5a43b8",
        "name": "format_parameters",
        "func": "msg.payload= \n     {\n        name: msg.payload._id,\n        value:  msg.payload._source.value,\n        type: msg.payload._source.type\n    };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 891,
        "y": 546,
        "wires": [
            [
                "82886cfc.a7675"
            ]
        ]
    },
    {
        "id": "3d76c089.415cb",
        "type": "inject",
        "z": "e8d1e6aa.5a43b8",
        "name": "find_one",
        "topic": "",
        "payload": "ES_URL",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 118,
        "y": 698,
        "wires": [
            [
                "56d793d9.03b0bc"
            ]
        ]
    },
    {
        "id": "9396278d.359708",
        "type": "http request",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 435.5,
        "y": 787,
        "wires": [
            [
                "a3dcfd07.9f49c"
            ]
        ]
    },
    {
        "id": "cdf0a14f.02d99",
        "type": "debug",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 973,
        "y": 905,
        "wires": []
    },
    {
        "id": "a3dcfd07.9f49c",
        "type": "change",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hits.hits",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 603.5,
        "y": 862,
        "wires": [
            [
                "6143af44.08f26"
            ]
        ]
    },
    {
        "id": "6143af44.08f26",
        "type": "function",
        "z": "e8d1e6aa.5a43b8",
        "name": "format_parameters",
        "func": "msg.payload= \n     {\n        name: msg.payload._id,\n        value:  msg.payload._source.value,\n        type: msg.payload._source.type\n    };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 774,
        "y": 952,
        "wires": [
            [
                "cdf0a14f.02d99",
                "2fbe8ae9.2ee3e6"
            ]
        ]
    },
    {
        "id": "56d793d9.03b0bc",
        "type": "function",
        "z": "e8d1e6aa.5a43b8",
        "name": "find_one_request",
        "func": "const ES_URL = 'elasticsearch';\nconst ES_PORT = '9200';\nconst ES_INDEX = 'globalconfig';\n\n\nconst url = `http://${ES_URL}:${ES_PORT}/${ES_INDEX}/default/${msg.req.params.name}`;\n\n\nmsg.url = url;\nmsg.method = 'GET';\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 749,
        "wires": [
            [
                "9396278d.359708"
            ]
        ]
    },
    {
        "id": "36fed0c1.97d4a",
        "type": "inject",
        "z": "e8d1e6aa.5a43b8",
        "name": "refresh_global_parameters",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 161,
        "y": 1179,
        "wires": [
            [
                "e1b0fbb1.d00d38"
            ]
        ]
    },
    {
        "id": "e1b0fbb1.d00d38",
        "type": "http request",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "http://elasticsearch:9200/globalconfig/default/_search",
        "tls": "",
        "x": 376.5,
        "y": 1246,
        "wires": [
            [
                "389ad042.c4323"
            ]
        ]
    },
    {
        "id": "ec87cf81.20bef",
        "type": "debug",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1126,
        "y": 1501,
        "wires": []
    },
    {
        "id": "2af5b2ee.4cf68e",
        "type": "split",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "splt": "\\n",
        "x": 752.5,
        "y": 1363,
        "wires": [
            [
                "62046811.e0aaf8"
            ]
        ]
    },
    {
        "id": "389ad042.c4323",
        "type": "change",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hits.hits",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 596.5,
        "y": 1330,
        "wires": [
            [
                "2af5b2ee.4cf68e"
            ]
        ]
    },
    {
        "id": "62046811.e0aaf8",
        "type": "function",
        "z": "e8d1e6aa.5a43b8",
        "name": "set_global_paramenter",
        "func": "node.log(`OLD GLOBAL CONTEXT [${msg.payload._id}, ${global.get( msg.payload._id)}]`);\nglobal.set( msg.payload._id, msg.payload._source.value);\nnode.log(`NEW GLOBAL CONTEXT [${msg.payload._id}, ${msg.payload._source.value}]`);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 895,
        "y": 1411,
        "wires": [
            [
                "ec87cf81.20bef"
            ]
        ]
    },
    {
        "id": "cf61a525.dd5b88",
        "type": "link in",
        "z": "e8d1e6aa.5a43b8",
        "name": "refresh_global_parameters",
        "links": [
            "d02e03e6.fab0b"
        ],
        "x": 28.5,
        "y": 1290,
        "wires": [
            [
                "e92e1ea9.6d3e1"
            ]
        ]
    },
    {
        "id": "d02e03e6.fab0b",
        "type": "link out",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "links": [
            "cf61a525.dd5b88"
        ],
        "x": 653.5,
        "y": 367,
        "wires": []
    },
    {
        "id": "7f478770.0903b8",
        "type": "http in",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "url": "/global",
        "method": "post",
        "swaggerDoc": "",
        "x": 75.5,
        "y": 198,
        "wires": [
            [
                "37621e85.deaaf2"
            ]
        ]
    },
    {
        "id": "20a2f6a5.1b9cba",
        "type": "http in",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "url": "/global",
        "method": "get",
        "swaggerDoc": "",
        "x": 97.5,
        "y": 429,
        "wires": [
            [
                "29e2a759.f98618"
            ]
        ]
    },
    {
        "id": "497fa41d.2acaec",
        "type": "http response",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "x": 1117.5,
        "y": 700,
        "wires": []
    },
    {
        "id": "76b9b4d3.7e9d5c",
        "type": "http in",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "url": "/global/:name",
        "method": "get",
        "swaggerDoc": "",
        "x": 122.5,
        "y": 806,
        "wires": [
            [
                "56d793d9.03b0bc"
            ]
        ]
    },
    {
        "id": "2fbe8ae9.2ee3e6",
        "type": "http response",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "x": 963,
        "y": 989,
        "wires": []
    },
    {
        "id": "a6fb7e3c.835c7",
        "type": "http response",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "x": 990,
        "y": 259,
        "wires": []
    },
    {
        "id": "e92e1ea9.6d3e1",
        "type": "change",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "method",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "url",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "res",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 145.5,
        "y": 1355,
        "wires": [
            [
                "e1b0fbb1.d00d38"
            ]
        ]
    },
    {
        "id": "cb0651b9.d7cb1",
        "type": "change",
        "z": "e8d1e6aa.5a43b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 801.5,
        "y": 317,
        "wires": [
            [
                "a6fb7e3c.835c7"
            ]
        ]
    },
    {
        "id": "b16c1777.1786b8",
        "type": "comment",
        "z": "e8d1e6aa.5a43b8",
        "name": "Cleanup msg object",
        "info": "",
        "x": 155.5,
        "y": 1316,
        "wires": []
    }
]
