api/config/global-flow.json
{
    "label": "Global Flow",
    "nodes": [
        {
            "id": "global-1",
            "type": "inject",
            "name": "",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "repeat": "",
            "crontab": "",
            "once": true,
            "x": 110,
            "y": 80,
            "wires": [
                [
                    "global-2"
                ]
            ]
        },
        {
            "id": "global-2",
            "type": "file in",
            "name": "",
            "filename": "/data/conveyor/config.yml",
            "format": "utf8",
            "chunk": false,
            "sendError": false,
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "global-3"
                ]
            ]
        },
        {
            "id": "global-3",
            "type": "yaml",
            "name": "",
            "x": 510,
            "y": 80,
            "wires": [
                [
                    "global-4"
                ]
            ]
        },
        {
            "id": "global-4",
            "type": "function",
            "name": "",
            "func": "var globalVariables = Object.keys(msg.payload);\n\nfor (var i=0; i<globalVariables.length; i++) {\n    global.set(globalVariables[i], msg.payload[globalVariables[i]])\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 630,
            "y": 80,
            "wires": [
                [
                    "global-5",
                    "global-38"
                ]
            ]
        },
        {
            "id": "global-5",
            "type": "debug",
            "name": "",
            "active": true,
            "console": "false",
            "complete": "false",
            "x": 790,
            "y": 40,
            "wires": []
        },
        {
            "id": "global-6",
            "type": "comment",
            "name": "Load Global Context Variables",
            "info": "",
            "x": 140,
            "y": 40,
            "wires": []
        },
        {
            "id": "global-7",
            "type": "switch",
            "name": "",
            "property": "basicAuth",
            "propertyType": "global",
            "rules": [
                {
                    "t": "nnull"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "outputs": 2,
            "x": 430,
            "y": 380,
            "wires": [
                [
                    "global-8"
                ],
                [
                    "global-13"
                ]
            ]
        },
        {
            "id": "global-10",
            "type": "switch",
            "name": "",
            "property": "useTLS",
            "propertyType": "global",
            "rules": [
                {
                    "t": "true"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "outputs": 2,
            "x": 710,
            "y": 340,
            "wires": [
                [
                    "global-11"
                ],
                [
                    "global-12"
                ]
            ]
        },
        {
            "id": "global-13",
            "type": "switch",
            "name": "",
            "property": "useTLS",
            "propertyType": "global",
            "rules": [
                {
                    "t": "true"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "outputs": 2,
            "x": 710,
            "y": 420,
            "wires": [
                [
                    "global-14"
                ],
                [
                    "global-15"
                ]
            ]
        },
        {
            "id": "global-11",
            "type": "http request",
            "name": "Basic Auth with SSL",
            "method": "use",
            "ret": "obj",
            "url": "",
            "tls": "global-16",
            "x": 920,
            "y": 320,
            "wires": [
                [
                    "global-17"
                ]
            ]
        },
        {
            "id": "global-12",
            "type": "http request",
            "name": "Basic Auth without SSL",
            "method": "use",
            "ret": "obj",
            "url": "",
            "tls": "",
            "x": 910,
            "y": 360,
            "wires": [
                [
                    "global-17"
                ]
            ]
        },
        {
            "id": "global-14",
            "type": "http request",
            "name": "No Basic Auth with SSL",
            "method": "use",
            "ret": "obj",
            "url": "",
            "tls": "global-16",
            "x": 910,
            "y": 400,
            "wires": [
                [
                    "global-17"
                ]
            ]
        },
        {
            "id": "global-15",
            "type": "http request",
            "name": "No Basic Auth without SSL",
            "method": "use",
            "ret": "obj",
            "url": "",
            "tls": "",
            "x": 900,
            "y": 440,
            "wires": [
                [
                    "global-17"
                ]
            ]
        },
        {
            "id": "global-18",
            "type": "comment",
            "name": "Basic Auth",
            "info": "",
            "x": 440,
            "y": 320,
            "wires": []
        },
        {
            "id": "global-19",
            "type": "comment",
            "name": "No Basic Auth",
            "info": "",
            "x": 430,
            "y": 440,
            "wires": []
        },
        {
            "id": "global-20",
            "type": "comment",
            "name": "Elasticsearch Query Proxy",
            "info": "This endpoint exists to simplify the connection to Elasticsearch.\n\nIt could certainly be cleaned up by creating a http node that accept auth changes on the fly or by creating a better ES node.",
            "x": 130,
            "y": 340,
            "wires": []
        },
        {
            "id": "global-21",
            "type": "http in",
            "name": "",
            "url": "/elasticsearch",
            "method": "post",
            "upload": false,
            "swaggerDoc": "",
            "x": 110,
            "y": 380,
            "wires": [
                [
                    "global-22"
                ]
            ]
        },
        {
            "id": "global-22",
            "type": "function",
            "name": "",
            "func": "delete msg.req, msg.res;\n\nvar es = global.get('elasticsearch');\n\nvar errors = [];\n\nif (es) {\n    var url = es.url;\n} else {\n    errors.push('No ES Connection found in the Global Configuraiton.')\n}\n\nvar request = msg.payload;\n\nif (request.path) {\n    msg.url = url + request.path;\n} else {\n    errors.push('No path found in payload')   \n}\n\nif (request.payload) {\n    msg.payload = request.body\n}\n\nif (request.method) {\n    msg.method = request.method\n} else {\n    msg.method = 'GET'\n}\n\nmsg.headers = {\n    'Content-Type': 'application/json'\n}\n\nmsg.errors = errors;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 290,
            "y": 380,
            "wires": [
                [
                    "global-7"
                ]
            ]
        },
        {
            "id": "global-8",
            "type": "function",
            "name": "",
            "func": "var es = global.get('elasticsearch');\n\nif (es.basicAuth) {\n    var basicString = es.basicAuth.username + ':' + es.basicAuth.password;\n    var encodedString = Buffer.from(basicString).toString('base64')\n    \n    msg.headers.Authorization = 'Basic ' + encodedString\n} else {\n    msg.errors.push('Basic authentication specified, but unavailable.')\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 570,
            "y": 340,
            "wires": [
                [
                    "global-10"
                ]
            ]
        },
        {
            "id": "global-17",
            "type": "http response",
            "name": "",
            "statusCode": "",
            "headers": {},
            "x": 1110,
            "y": 380,
            "wires": []
        },
        {
            "id": "global-25",
            "type": "comment",
            "name": "Update Index Patterns",
            "info": "",
            "x": 120,
            "y": 120,
            "wires": []
        },
        {
            "id": "global-26",
            "type": "link in",
            "name": "Update Index Patterns",
            "links": [],
            "x": 35,
            "y": 200,
            "wires": [
                [
                    "global-24"
                ]
            ]
        },
        {
            "id": "global-27",
            "type": "http request",
            "name": "GET Flows",
            "method": "use",
            "ret": "obj",
            "url": "",
            "tls": "",
            "x": 470,
            "y": 200,
            "wires": [
                [
                    "global-28"
                ]
            ]
        },
        {
            "id": "global-29",
            "type": "function",
            "name": "Format",
            "func": "msg = {\n    url: global.get('conveyor-api').url + '/flow',\n    method: 'GET'\n}\n\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 320,
            "y": 200,
            "wires": [
                [
                    "global-27"
                ]
            ]
        },
        {
            "id": "global-28",
            "type": "function",
            "name": "",
            "func": "if (msg.statusCode == 200 && msg.payload.length > 0) {\n    \n    msg = {\n        currentFlows: msg.payload,\n        payload: {\n            path: '/.kibana/index-pattern/_search',\n            method: 'GET'\n        },\n        url: global.get('node-red').url + '/elasticsearch',\n        method: 'POST'\n    }\n    return msg;\n}",
            "outputs": 1,
            "noerr": 0,
            "x": 610,
            "y": 200,
            "wires": [
                [
                    "global-30"
                ]
            ]
        },
        {
            "id": "global-30",
            "type": "http request",
            "name": "GET Index Patterns",
            "method": "use",
            "ret": "obj",
            "url": "",
            "tls": "",
            "x": 770,
            "y": 200,
            "wires": [
                [
                    "global-31"
                ]
            ]
        },
        {
            "id": "global-32",
            "type": "function",
            "name": "Check",
            "func": "var currentFlows = msg.currentFlows;\nvar currentPatterns = msg.payload.hits.hits;\nvar missingPatterns = [];\n\ncurrentFlows.forEach(function(flow) {\n    var indexFound = currentPatterns.find(function(pattern) {\n        return flow.index == pattern._id\n    })\n    \n    if (!indexFound || indexFound._id != flow.index) {\n        missingPatterns.push(flow.index)\n    }\n})\n\nmsg = {\n    payload: missingPatterns\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 130,
            "y": 240,
            "wires": [
                [
                    "global-33"
                ]
            ]
        },
        {
            "id": "global-31",
            "type": "link out",
            "name": "Index Pattern - End Line 1",
            "links": [
                "global-34"
            ],
            "x": 895,
            "y": 200,
            "wires": []
        },
        {
            "id": "global-34",
            "type": "link in",
            "name": "Index Pattern - Start Line 2",
            "links": [
                "global-31"
            ],
            "x": 35,
            "y": 240,
            "wires": [
                [
                    "global-32"
                ]
            ]
        },
        {
            "id": "global-33",
            "type": "split",
            "name": "",
            "splt": "\\n",
            "spltType": "str",
            "arraySplt": 1,
            "arraySpltType": "len",
            "stream": false,
            "addname": "",
            "x": 270,
            "y": 240,
            "wires": [
                [
                    "global-35"
                ]
            ]
        },
        {
            "id": "global-35",
            "type": "function",
            "name": "Format",
            "func": "var index = msg.payload;\n\nmsg = {\n    url: global.get('node-red').url + '/elasticsearch',\n    method: 'POST',\n    payload: {\n        path: '/.kibana/index-pattern/' + index,\n        method: 'POST',\n        body: {\n            \"title\": index\n        }\n    }\n}\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 400,
            "y": 240,
            "wires": [
                [
                    "global-36"
                ]
            ]
        },
        {
            "id": "global-36",
            "type": "http request",
            "name": "POST Index patterns",
            "method": "use",
            "ret": "obj",
            "url": "",
            "tls": "",
            "x": 580,
            "y": 240,
            "wires": [
                []
            ]
        },
        {
            "id": "global-24",
            "type": "delay",
            "name": "",
            "pauseType": "rate",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "10",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "x": 160,
            "y": 200,
            "wires": [
                [
                    "global-29"
                ]
            ]
        },
        {
            "id": "global-37",
            "type": "link in",
            "name": "Update Index patterns - Start",
            "links": [
                "global-38"
            ],
            "x": 35,
            "y": 160,
            "wires": [
                [
                    "global-24"
                ]
            ]
        },
        {
            "id": "global-38",
            "type": "link out",
            "name": "Load Global Context - End",
            "links": [
                "global-37"
            ],
            "x": 735,
            "y": 80,
            "wires": []
        },
        {
            "id": "global-16",
            "type": "tls-config",
            "name": "",
            "cert": "/data/conveyor/elasticsearch.crt",
            "key": "/data/conveyor/elasticsearch.key",
            "ca": "/data/conveyor/ca.crt",
            "certname": "",
            "keyname": "",
            "caname": "",
            "verifyservercert": true
        }
    ]
}
