channel-sources/github-repo-stats/def.json
{
    "name": "Github Repo Statistics",
    "description": "Use this source to pull statistics from a Github repository like stars, views, etc. Provide the owner, repo name, and a personal access token.",
    "groups": [
        {
            "key": "repoInformation",
            "title": "Repository Information",
            "description": "Provide the repository name and owner. Please note that the repository must either be public or you must have access to it in order to pull all data."
        }
    ],
    "parameters": [
        {
            "type": "text",
            "group": "repoInformation",
            "name": "token",
            "label": "Personal Access Token",
            "description": "Generate a Personal access token and enter it here.",
            "required": true
        },
        {
            "type": "text",
            "group": "repoInformation",
            "name": "owner",
            "label": "Owner",
            "description": "Enter the owner of the repository. Enter either a user or organizaation.",
            "required": true
        },
        {
            "type": "text",
            "group": "repoInformation",
            "name": "repo",
            "label": "Repository",
            "description": "Enter the repository name.",
            "required": true
        },
        {
            "type": "number",
            "name": "stargazerPage",
            "label": "Current Stars Page",
            "description": "The page of starred users that we've made it up to.",
            "required": false
        },
        {
            "type": "number",
            "name": "subscriberPage",
            "label": "Current Subscriber Page",
            "description": "The page of Subscribed users that we've made it up to.",
            "required": false
        }
    ],
    "flow": {
        "label": "{{_name}}",
        "nodes": [
            {
                "id": "{{_id}}-core-1",
                "type": "comment",
                "name": "Load Configuration on Start-Up",
                "info": "",
                "x": 170,
                "y": 40,
                "wires": []
            },
            {
                "id": "{{_id}}-core-2",
                "type": "inject",
                "name": "",
                "topic": "",
                "payload": "",
                "payloadType": "date",
                "repeat": "",
                "crontab": "",
                "once": true,
                "x": 130,
                "y": 80,
                "wires": [
                    [
                        "{{_id}}-core-3"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-3",
                "type": "function",
                "name": "Format",
                "func": "msg = {\n    url: global.get('conveyor-api').url + '/flow/{{_url}}',\n    method: 'GET'\n}\n\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 280,
                "y": 80,
                "wires": [
                    [
                        "{{_id}}-core-4"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-4",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "obj",
                "url": "",
                "tls": "",
                "x": 430,
                "y": 80,
                "wires": [
                    [
                        "{{_id}}-core-39"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-5",
                "type": "function",
                "name": "",
                "func": "var parameters = msg.payload.parameters;\nvar parameterNames = [];\n\nparameters.forEach(function(param) {\n    parameterNames.push(param.key)\n    \n    flow.set(param.key, JSON.parse(param.value))\n})\n\nflow.set('params', parameterNames);\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 730,
                "y": 80,
                "wires": [
                    [
                        "{{_id}}-68"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-6",
                "type": "comment",
                "name": "Configuration Endpoints",
                "info": "",
                "x": 150,
                "y": 140,
                "wires": []
            },
            {
                "id": "{{_id}}-core-7",
                "type": "http in",
                "name": "",
                "url": "/{{_url}}/config",
                "method": "get",
                "upload": false,
                "swaggerDoc": "",
                "x": 160,
                "y": 180,
                "wires": [
                    [
                        "{{_id}}-core-8"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-8",
                "type": "function",
                "name": "",
                "func": "var paramNames = flow.get('params');\nvar parameters = {};\n\nparamNames.forEach(function(name) {\n    parameters[name] = flow.get(name);\n})\n\nmsg.payload = parameters\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 650,
                "y": 180,
                "wires": [
                    [
                        "{{_id}}-core-9"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-9",
                "type": "http response",
                "name": "",
                "statusCode": "",
                "headers": {},
                "x": 810,
                "y": 180,
                "wires": []
            },
            {
                "id": "{{_id}}-core-10",
                "type": "http in",
                "name": "",
                "url": "/{{_url}}/config",
                "method": "post",
                "upload": false,
                "swaggerDoc": "",
                "x": 160,
                "y": 220,
                "wires": [
                    [
                        "{{_id}}-core-11"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-11",
                "type": "function",
                "name": "",
                "func": "msg.payload = 'Post is currently not supported. Use PUT to update.'\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 650,
                "y": 220,
                "wires": [
                    [
                        "{{_id}}-core-9"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-12",
                "type": "http in",
                "name": "",
                "url": "/{{_url}}/config",
                "method": "put",
                "upload": false,
                "swaggerDoc": "",
                "x": 160,
                "y": 260,
                "wires": [
                    [
                        "{{_id}}-core-13"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-13",
                "type": "function",
                "name": "",
                "func": "var paramNames = flow.get('params');\nvar updates = [];\nvar errors = [];\n\nif (msg.payload) {\n    var paramsToUpdate = Object.keys(msg.payload);\n    \n    paramsToUpdate.forEach(function(update) {\n        if (paramNames.includes(update)) {\n            var updateParam = {\n                key: update,\n                value: msg.payload[update]\n            }\n            \n            updates.push(updateParam)\n        } else {\n            errors.push('Parameter [' + update + '] not valid.');\n        }\n    })\n} else {\n    errors.push('No Payload found');\n}\n\nif (errors.length > 0) {\n    msg.payload = errors\n} else {\n    updates.forEach(function(update) {\n        flow.set(update.key, update.value)\n    })\n    \n    var elasticParamsUpdate = [];\n    paramNames.forEach(function(param) {\n        elasticParamsUpdate.push({\n            \"key\": param,\n            \"value\": flow.get(param)\n        })\n    })\n    \n    msg.url = global.get('node-red').url + '/elasticsearch',\n    msg.method = 'POST',\n    msg.payload = {};\n    msg.payload.path = '/flow/default/{{_id}}/_update',\n    msg.payload.method = 'POST',\n    msg.payload.payload = {\n        \"doc\" : {\n        \"parameters\" : elasticParamsUpdate\n        }\n    }\n}\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 370,
                "y": 260,
                "wires": [
                    [
                        "{{_id}}-core-18"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-14",
                "type": "http in",
                "name": "",
                "url": "/{{_url}}/config",
                "method": "delete",
                "upload": false,
                "swaggerDoc": "",
                "x": 170,
                "y": 300,
                "wires": [
                    [
                        "{{_id}}-core-15"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-15",
                "type": "function",
                "name": "",
                "func": "msg.payload = 'Delete is currently not supported. Use PUT to update.'\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 650,
                "y": 300,
                "wires": [
                    [
                        "{{_id}}-core-9"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-16",
                "type": "http in",
                "name": "",
                "url": "/{{_url}}/config",
                "method": "patch",
                "upload": false,
                "swaggerDoc": "",
                "x": 160,
                "y": 340,
                "wires": [
                    [
                        "{{_id}}-core-17"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-17",
                "type": "function",
                "name": "",
                "func": "msg.payload = 'Patch is currently not supported. Use PUT to update.'\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 650,
                "y": 340,
                "wires": [
                    [
                        "{{_id}}-core-9"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-18",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "txt",
                "url": "",
                "tls": "",
                "x": 510,
                "y": 260,
                "wires": [
                    [
                        "{{_id}}-core-19"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-19",
                "type": "function",
                "name": "",
                "func": "if (msg.statusCode != 200) {\n    msg.payload = 'Local Flow Configuration Updated, but not persisted.',\n    msg.statusCode = 500\n}\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 650,
                "y": 260,
                "wires": [
                    [
                        "{{_id}}-core-9"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-20",
                "type": "comment",
                "name": "Data Endpoints",
                "info": "",
                "x": 120,
                "y": 400,
                "wires": []
            },
            {
                "id": "{{_id}}-core-21",
                "type": "http in",
                "name": "",
                "url": "/{{_url}}/data",
                "method": "get",
                "upload": false,
                "swaggerDoc": "",
                "x": 150,
                "y": 440,
                "wires": [
                    [
                        "{{_id}}-core-22"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-22",
                "type": "function",
                "name": "",
                "func": "msg.url = global.get('node-red').url + '/elasticsearch',\nmsg.method = 'POST',\nmsg.payload = {\n    path: '/{{_index}}/_search',\n    method: 'GET'\n}\n\nif (msg.req._parsedUrl.search) {\n    msg.payload.path += msg.req._parsedUrl.search\n}\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 370,
                "y": 440,
                "wires": [
                    [
                        "{{_id}}-core-24"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-23",
                "type": "http in",
                "name": "",
                "url": "/{{_url}}/data/:id",
                "method": "delete",
                "upload": false,
                "swaggerDoc": "",
                "x": 150,
                "y": 600,
                "wires": [
                    [
                        "{{_id}}-core-37"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-24",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "obj",
                "url": "",
                "tls": "",
                "x": 510,
                "y": 440,
                "wires": [
                    [
                        "{{_id}}-core-25"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-25",
                "type": "function",
                "name": "",
                "func": "var data = [];\n\nif (msg.payload.hits && msg.payload.hits.hits) {\n    data = msg.payload.hits.hits;    \n}\n\nmsg.payload = data\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 650,
                "y": 440,
                "wires": [
                    [
                        "{{_id}}-core-26"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-26",
                "type": "http response",
                "name": "",
                "statusCode": "",
                "headers": {},
                "x": 810,
                "y": 520,
                "wires": []
            },
            {
                "id": "{{_id}}-core-27",
                "type": "http in",
                "name": "",
                "url": "/{{_url}}/data/:id",
                "method": "get",
                "upload": false,
                "swaggerDoc": "",
                "x": 160,
                "y": 480,
                "wires": [
                    [
                        "{{_id}}-core-28"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-28",
                "type": "function",
                "name": "",
                "func": "msg.url = global.get('node-red').url + '/elasticsearch',\nmsg.method = 'POST',\nmsg.payload = {\n    path: '/{{_index}}/default/' + msg.req.params.id,\n    method: 'GET'\n}\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 370,
                "y": 480,
                "wires": [
                    [
                        "{{_id}}-core-29"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-29",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "obj",
                "url": "",
                "tls": "",
                "x": 510,
                "y": 480,
                "wires": [
                    [
                        "{{_id}}-core-30"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-30",
                "type": "function",
                "name": "",
                "func": "if (msg.payload.found === true && msg.payload._source) {\n    var data = msg.payload._source;\n}\n\nmsg.payload = data\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 650,
                "y": 480,
                "wires": [
                    [
                        "{{_id}}-core-26"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-31",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "obj",
                "url": "",
                "tls": "",
                "x": 510,
                "y": 520,
                "wires": [
                    [
                        "{{_id}}-core-26"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-32",
                "type": "httpInMultipart",
                "name": "",
                "url": "/{{_url}}/data",
                "method": "post",
                "fields": "",
                "swaggerDoc": "",
                "x": 160,
                "y": 520,
                "wires": [
                    [
                        "{{_id}}-core-33"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-33",
                "type": "function",
                "name": "",
                "func": "var body = msg.payload;\n\nmsg.url = global.get('node-red').url + '/elasticsearch',\nmsg.method = 'POST',\nmsg.payload = {\n    path: '/{{_index}}/default',\n    method: 'POST',\n    payload: body\n}\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 370,
                "y": 520,
                "wires": [
                    [
                        "{{_id}}-core-31"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-34",
                "type": "http in",
                "name": "",
                "url": "/{{_url}}/data/:id",
                "method": "put",
                "upload": false,
                "swaggerDoc": "",
                "x": 160,
                "y": 560,
                "wires": [
                    [
                        "{{_id}}-core-35"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-35",
                "type": "function",
                "name": "",
                "func": "var body = msg.payload;\n\nmsg.url = global.get('node-red').url + '/elasticsearch',\nmsg.method = 'POST',\nmsg.payload = {\n    path: '/{{_index}}/default/' + msg.req.params.id,\n    method: 'PUT',\n    payload: body\n}\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 370,
                "y": 560,
                "wires": [
                    [
                        "{{_id}}-core-36"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-36",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "txt",
                "url": "",
                "tls": "",
                "x": 510,
                "y": 560,
                "wires": [
                    [
                        "{{_id}}-core-26"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-37",
                "type": "function",
                "name": "",
                "func": "msg.url = global.get('node-red').url + '/elasticsearch',\nmsg.method = 'POST',\nmsg.payload = {\n    path: '/{{_index}}/default/' + msg.req.params.id,\n    method: 'DELETE'\n}\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 370,
                "y": 600,
                "wires": [
                    [
                        "{{_id}}-core-38"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-38",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "txt",
                "url": "",
                "tls": "",
                "x": 510,
                "y": 600,
                "wires": [
                    [
                        "{{_id}}-core-26"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-39",
                "type": "switch",
                "name": "",
                "property": "statusCode",
                "propertyType": "msg",
                "rules": [
                    {
                        "t": "eq",
                        "v": "200",
                        "vt": "num"
                    },
                    {
                        "t": "else"
                    }
                ],
                "checkall": "true",
                "outputs": 2,
                "x": 570,
                "y": 80,
                "wires": [
                    [
                        "{{_id}}-core-5"
                    ],
                    [
                        "{{_id}}-core-40"
                    ]
                ]
            },
            {
                "id": "{{_id}}-core-40",
                "type": "delay",
                "name": "",
                "pauseType": "delay",
                "timeout": "5",
                "timeoutUnits": "seconds",
                "rate": "1",
                "nbRateUnits": "1",
                "rateUnits": "second",
                "randomFirst": "1",
                "randomLast": "5",
                "randomUnits": "seconds",
                "drop": false,
                "x": 440,
                "y": 120,
                "wires": [
                    [
                        "{{_id}}-core-3"
                    ]
                ]
            },
            {
                "id": "{{_id}}-1",
                "type": "comment",
                "name": "Primary Flow",
                "info": "",
                "x": 110,
                "y": 660,
                "wires": []
            },
            {
                "id": "{{_id}}-2",
                "type": "link in",
                "name": "",
                "links": [
                    "{{_id}}-68"
                ],
                "x": 75,
                "y": 700,
                "wires": [
                    [
                        "{{_id}}-5",
                        "{{_id}}-6"
                    ]
                ]
            },
            {
                "id": "{{_id}}-3",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "obj",
                "url": "",
                "tls": "",
                "x": 410,
                "y": 800,
                "wires": [
                    [
                        "{{_id}}-15"
                    ]
                ]
            },
            {
                "id": "{{_id}}-4",
                "type": "function",
                "name": "",
                "func": "var page = flow.get('stargazerPage') || 1;\nvar owner = flow.get('owner');\nvar repo = flow.get('repo');\n\nhash = \"token \" + flow.get('token');\n  \nmsg.headers = {\n    \"Accept\": \"application/vnd.github.v3.star+json\",\n    \"User-Agent\": \"Conveyor\",\n    \"Authorization\": hash\n}\nmsg.url = 'https://api.github.com/repos/' + owner + '/' + repo + '/stargazers?per_page=100&page=' + page\nmsg.method = 'GET'\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 270,
                "y": 800,
                "wires": [
                    [
                        "{{_id}}-3"
                    ]
                ]
            },
            {
                "id": "{{_id}}-5",
                "type": "later",
                "name": "",
                "schedule": "every 1 hour",
                "x": 170,
                "y": 720,
                "wires": [
                    [
                        "{{_id}}-6"
                    ]
                ]
            },
            {
                "id": "{{_id}}-6",
                "type": "link out",
                "name": "Timer Out",
                "links": [
                    "{{_id}}-7",
                    "{{_id}}-12",
                    "{{_id}}-34",
                    "{{_id}}-43",
                    "{{_id}}-52",
                    "{{_id}}-61"
                ],
                "x": 275,
                "y": 700,
                "wires": []
            },
            {
                "id": "{{_id}}-7",
                "type": "link in",
                "name": "",
                "links": [
                    "{{_id}}-6"
                ],
                "x": 155,
                "y": 840,
                "wires": [
                    [
                        "{{_id}}-4"
                    ]
                ]
            },
            {
                "id": "{{_id}}-8",
                "type": "inject",
                "name": "",
                "topic": "",
                "payload": "",
                "payloadType": "date",
                "repeat": "",
                "crontab": "",
                "once": false,
                "x": 120,
                "y": 800,
                "wires": [
                    [
                        "{{_id}}-4"
                    ]
                ]
            },
            {
                "id": "{{_id}}-9",
                "type": "comment",
                "name": "Update Stars",
                "info": "",
                "x": 130,
                "y": 760,
                "wires": []
            },
            {
                "id": "{{_id}}-10",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "obj",
                "url": "",
                "tls": "",
                "x": 410,
                "y": 920,
                "wires": [
                    [
                        "{{_id}}-26"
                    ]
                ]
            },
            {
                "id": "{{_id}}-11",
                "type": "function",
                "name": "",
                "func": "var page = flow.get('subscriberPage') || 1;\nvar owner = flow.get('owner');\nvar repo = flow.get('repo');\n\nhash = \"token \" + flow.get('token');\n  \nmsg.headers = {\n    \"Accept\": \"application/vnd.github.v3.star+json\",\n    \"User-Agent\": \"Conveyor\",\n    \"Authorization\": hash\n}\n\nmsg.url = 'https://api.github.com/repos/' + owner + '/' + repo + '/subscribers?per_page=100&page=' + page\nmsg.method = 'GET'\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 270,
                "y": 920,
                "wires": [
                    [
                        "{{_id}}-10"
                    ]
                ]
            },
            {
                "id": "{{_id}}-12",
                "type": "link in",
                "name": "",
                "links": [
                    "{{_id}}-6"
                ],
                "x": 155,
                "y": 960,
                "wires": [
                    [
                        "{{_id}}-11"
                    ]
                ]
            },
            {
                "id": "{{_id}}-13",
                "type": "inject",
                "name": "",
                "topic": "",
                "payload": "",
                "payloadType": "date",
                "repeat": "",
                "crontab": "",
                "once": false,
                "x": 120,
                "y": 920,
                "wires": [
                    [
                        "{{_id}}-11"
                    ]
                ]
            },
            {
                "id": "{{_id}}-14",
                "type": "comment",
                "name": "Update Watchers",
                "info": "",
                "x": 140,
                "y": 880,
                "wires": []
            },
            {
                "id": "{{_id}}-15",
                "type": "function",
                "name": "",
                "func": "if (msg.statusCode == 200) {\n    if (msg.payload.length == 100) {\n        if (!flow.get('stargazerPage')) {\n            flow.set('stargazerPage', 2)\n        } else {\n            flow.set('stargazerPage', Number(flow.get('stargazerPage')) + 1)\n        }\n        \n        return [msg, {}]\n    } else {\n        return [msg, null]\n    }\n}",
                "outputs": "2",
                "noerr": 0,
                "x": 550,
                "y": 800,
                "wires": [
                    [
                        "{{_id}}-17"
                    ],
                    [
                        "{{_id}}-16"
                    ]
                ]
            },
            {
                "id": "{{_id}}-16",
                "type": "delay",
                "name": "",
                "pauseType": "delay",
                "timeout": "5",
                "timeoutUnits": "seconds",
                "rate": "1",
                "nbRateUnits": "1",
                "rateUnits": "second",
                "randomFirst": "1",
                "randomLast": "5",
                "randomUnits": "seconds",
                "drop": false,
                "x": 400,
                "y": 840,
                "wires": [
                    [
                        "{{_id}}-4"
                    ]
                ]
            },
            {
                "id": "{{_id}}-17",
                "type": "split",
                "name": "",
                "splt": "\\n",
                "spltType": "str",
                "arraySplt": 1,
                "arraySpltType": "len",
                "stream": false,
                "addname": "",
                "x": 670,
                "y": 800,
                "wires": [
                    [
                        "{{_id}}-18"
                    ]
                ]
            },
            {
                "id": "{{_id}}-18",
                "type": "flat",
                "name": "",
                "x": 790,
                "y": 800,
                "wires": [
                    [
                        "{{_id}}-22"
                    ]
                ]
            },
            {
                "id": "{{_id}}-19",
                "type": "debug",
                "name": "",
                "active": true,
                "console": "false",
                "complete": "false",
                "x": 910,
                "y": 1520,
                "wires": []
            },
            {
                "id": "{{_id}}-20",
                "type": "link out",
                "name": "Send To ES",
                "links": [
                    "{{_id}}-21"
                ],
                "x": 995,
                "y": 800,
                "wires": []
            },
            {
                "id": "{{_id}}-21",
                "type": "link in",
                "name": "",
                "links": [
                    "{{_id}}-20",
                    "{{_id}}-30",
                    "{{_id}}-40",
                    "{{_id}}-49",
                    "{{_id}}-58",
                    "{{_id}}-67"
                ],
                "x": 395,
                "y": 1520,
                "wires": [
                    [
                        "{{_id}}-23"
                    ]
                ]
            },
            {
                "id": "{{_id}}-22",
                "type": "function",
                "name": "",
                "func": "var data = msg.payload\ndata.date = data.starred_at\ndelete data.starred_at\n\nvar operation = {\n    \"_index\": \"{{_index}}\",\n    \"_type\": \"default\",\n    \"_id\": data['user.id'] + \"-stars\"\n}\n\ndata.metric = 'stars'\n\nvar newMsg1 = {};\nnewMsg1.payload = JSON.stringify({index: operation})\nmsg.payload = JSON.stringify(data)\n\nif (msg.parts.index == (msg.parts.count - 1)) {\n    msg.complete = true\n}\n\nreturn [[newMsg1,msg]];",
                "outputs": "1",
                "noerr": 0,
                "x": 910,
                "y": 800,
                "wires": [
                    [
                        "{{_id}}-20"
                    ]
                ]
            },
            {
                "id": "{{_id}}-23",
                "type": "join",
                "name": "",
                "mode": "custom",
                "build": "string",
                "property": "payload",
                "propertyType": "msg",
                "key": "topic",
                "joiner": "\\n",
                "joinerType": "str",
                "accumulate": false,
                "timeout": "",
                "count": "1000",
                "x": 490,
                "y": 1520,
                "wires": [
                    [
                        "{{_id}}-24"
                    ]
                ]
            },
            {
                "id": "{{_id}}-24",
                "type": "function",
                "name": "",
                "func": "msg.payload += \"\\n\"\n\nvar insertData = msg.payload;\n\nmsg.url = global.get('node-red').url + '/elasticsearch';\nmsg.method = 'POST'\n\nmsg.payload = {\n    path: '/_bulk',\n    method: 'POST',\n    payload: insertData\n}\n\n\ndelete msg.headers\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 610,
                "y": 1520,
                "wires": [
                    [
                        "{{_id}}-25"
                    ]
                ]
            },
            {
                "id": "{{_id}}-25",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "obj",
                "url": "",
                "tls": "",
                "x": 750,
                "y": 1520,
                "wires": [
                    [
                        "{{_id}}-19"
                    ]
                ]
            },
            {
                "id": "{{_id}}-26",
                "type": "function",
                "name": "",
                "func": "if (msg.statusCode == 200) {\n    if (msg.payload.length == 100) {\n        if (!flow.get('subscriberPage')) {\n            flow.set('subscriberPage', 2)\n        } else {\n            flow.set('subscriberPage', Number(flow.get('subscriberPage')) + 1)\n        }\n        \n        return [msg, {}]\n    } else {\n        return [msg, null]\n    }\n}",
                "outputs": "2",
                "noerr": 0,
                "x": 550,
                "y": 920,
                "wires": [
                    [
                        "{{_id}}-27"
                    ],
                    [
                        "{{_id}}-31"
                    ]
                ]
            },
            {
                "id": "{{_id}}-27",
                "type": "split",
                "name": "",
                "splt": "\\n",
                "spltType": "str",
                "arraySplt": 1,
                "arraySpltType": "len",
                "stream": false,
                "addname": "",
                "x": 670,
                "y": 920,
                "wires": [
                    [
                        "{{_id}}-28"
                    ]
                ]
            },
            {
                "id": "{{_id}}-28",
                "type": "flat",
                "name": "",
                "x": 790,
                "y": 920,
                "wires": [
                    [
                        "{{_id}}-29"
                    ]
                ]
            },
            {
                "id": "{{_id}}-29",
                "type": "function",
                "name": "",
                "func": "var data = msg.payload\n\nvar operation = {\n    \"_index\": \"{{_index}}\",\n    \"_type\": \"default\",\n    \"_id\": data.id + '-subscribers'\n}\n\ndata.metric = 'subscribers'\n\nvar newMsg1 = {};\nnewMsg1.payload = JSON.stringify({index: operation})\nmsg.payload = JSON.stringify(data)\n\nif (msg.parts.index == (msg.parts.count - 1)) {\n    msg.complete = true\n}\n\nreturn [[newMsg1,msg]];",
                "outputs": "1",
                "noerr": 0,
                "x": 910,
                "y": 920,
                "wires": [
                    [
                        "{{_id}}-30"
                    ]
                ]
            },
            {
                "id": "{{_id}}-30",
                "type": "link out",
                "name": "Send To ES",
                "links": [
                    "{{_id}}-21"
                ],
                "x": 995,
                "y": 920,
                "wires": []
            },
            {
                "id": "{{_id}}-31",
                "type": "delay",
                "name": "",
                "pauseType": "delay",
                "timeout": "5",
                "timeoutUnits": "seconds",
                "rate": "1",
                "nbRateUnits": "1",
                "rateUnits": "second",
                "randomFirst": "1",
                "randomLast": "5",
                "randomUnits": "seconds",
                "drop": false,
                "x": 400,
                "y": 960,
                "wires": [
                    [
                        "{{_id}}-11"
                    ]
                ]
            },
            {
                "id": "{{_id}}-32",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "obj",
                "url": "",
                "tls": "",
                "x": 410,
                "y": 1040,
                "wires": [
                    [
                        "{{_id}}-37"
                    ]
                ]
            },
            {
                "id": "{{_id}}-33",
                "type": "function",
                "name": "",
                "func": "var owner = flow.get('owner');\nvar repo = flow.get('repo');\n\nhash = \"token \" + flow.get('token');\n  \nmsg.headers = {\n    \"User-Agent\": \"Conveyor\",\n    \"Authorization\": hash\n}\n\nmsg.url = 'https://api.github.com/repos/' + owner + '/' + repo + '/traffic/popular/referrers'\nmsg.method = 'GET'\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 270,
                "y": 1040,
                "wires": [
                    [
                        "{{_id}}-32"
                    ]
                ]
            },
            {
                "id": "{{_id}}-34",
                "type": "link in",
                "name": "",
                "links": [
                    "{{_id}}-6"
                ],
                "x": 155,
                "y": 1080,
                "wires": [
                    [
                        "{{_id}}-33"
                    ]
                ]
            },
            {
                "id": "{{_id}}-35",
                "type": "inject",
                "name": "",
                "topic": "",
                "payload": "",
                "payloadType": "date",
                "repeat": "",
                "crontab": "",
                "once": false,
                "x": 120,
                "y": 1040,
                "wires": [
                    [
                        "{{_id}}-33"
                    ]
                ]
            },
            {
                "id": "{{_id}}-36",
                "type": "comment",
                "name": "Referrers",
                "info": "",
                "x": 120,
                "y": 1000,
                "wires": []
            },
            {
                "id": "{{_id}}-37",
                "type": "function",
                "name": "",
                "func": "if (msg.statusCode == 200) {\n    return msg\n}",
                "outputs": "1",
                "noerr": 0,
                "x": 550,
                "y": 1040,
                "wires": [
                    [
                        "{{_id}}-38"
                    ]
                ]
            },
            {
                "id": "{{_id}}-38",
                "type": "split",
                "name": "",
                "splt": "\\n",
                "spltType": "str",
                "arraySplt": 1,
                "arraySpltType": "len",
                "stream": false,
                "addname": "",
                "x": 670,
                "y": 1040,
                "wires": [
                    [
                        "{{_id}}-39"
                    ]
                ]
            },
            {
                "id": "{{_id}}-39",
                "type": "function",
                "name": "",
                "func": "var data = msg.payload\n\ndata.metric = 'referrers'\ndata.rank = msg.parts.index + 1\n\nvar nowDate = new Date();\ndata.date = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate());\n\nvar operation = {\n    \"_index\": \"{{_index}}\",\n    \"_type\": \"default\",\n    \"_id\": data.date + '-' + data.rank + '-' + data.metric\n}\n\nvar newMsg1 = {};\nnewMsg1.payload = JSON.stringify({index: operation})\nmsg.payload = JSON.stringify(data)\n\nif (msg.parts.index == (msg.parts.count - 1)) {\n    msg.complete = true\n}\n\nreturn [[newMsg1,msg]];",
                "outputs": "1",
                "noerr": 0,
                "x": 790,
                "y": 1040,
                "wires": [
                    [
                        "{{_id}}-40"
                    ]
                ]
            },
            {
                "id": "{{_id}}-40",
                "type": "link out",
                "name": "Send To ES",
                "links": [
                    "{{_id}}-21"
                ],
                "x": 995,
                "y": 1040,
                "wires": []
            },
            {
                "id": "{{_id}}-41",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "obj",
                "url": "",
                "tls": "",
                "x": 410,
                "y": 1160,
                "wires": [
                    [
                        "{{_id}}-46"
                    ]
                ]
            },
            {
                "id": "{{_id}}-42",
                "type": "function",
                "name": "",
                "func": "var owner = flow.get('owner');\nvar repo = flow.get('repo');\n\nhash = \"token \" + flow.get('token');\n  \nmsg.headers = {\n    \"User-Agent\": \"Conveyor\",\n    \"Authorization\": hash\n}\n\nmsg.url = 'https://api.github.com/repos/' + owner + '/' + repo + '/traffic/popular/paths'\nmsg.method = 'GET'\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 270,
                "y": 1160,
                "wires": [
                    [
                        "{{_id}}-41"
                    ]
                ]
            },
            {
                "id": "{{_id}}-43",
                "type": "link in",
                "name": "",
                "links": [
                    "{{_id}}-6"
                ],
                "x": 155,
                "y": 1200,
                "wires": [
                    [
                        "{{_id}}-42"
                    ]
                ]
            },
            {
                "id": "{{_id}}-44",
                "type": "inject",
                "name": "",
                "topic": "",
                "payload": "",
                "payloadType": "date",
                "repeat": "",
                "crontab": "",
                "once": false,
                "x": 120,
                "y": 1160,
                "wires": [
                    [
                        "{{_id}}-42"
                    ]
                ]
            },
            {
                "id": "{{_id}}-45",
                "type": "comment",
                "name": "Paths",
                "info": "",
                "x": 110,
                "y": 1120,
                "wires": []
            },
            {
                "id": "{{_id}}-46",
                "type": "function",
                "name": "",
                "func": "if (msg.statusCode == 200) {\n    return msg\n}",
                "outputs": "1",
                "noerr": 0,
                "x": 550,
                "y": 1160,
                "wires": [
                    [
                        "{{_id}}-47"
                    ]
                ]
            },
            {
                "id": "{{_id}}-47",
                "type": "split",
                "name": "",
                "splt": "\\n",
                "spltType": "str",
                "arraySplt": 1,
                "arraySpltType": "len",
                "stream": false,
                "addname": "",
                "x": 670,
                "y": 1160,
                "wires": [
                    [
                        "{{_id}}-48"
                    ]
                ]
            },
            {
                "id": "{{_id}}-48",
                "type": "function",
                "name": "",
                "func": "var data = msg.payload\n\ndata.metric = 'paths'\ndata.rank = msg.parts.index + 1\n\nvar nowDate = new Date();\ndata.date = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate());\n\nvar operation = {\n    \"_index\": \"{{_index}}\",\n    \"_type\": \"default\",\n    \"_id\": data.date + '-' + data.rank + '-' + data.metric\n}\n\nvar newMsg1 = {};\nnewMsg1.payload = JSON.stringify({index: operation})\nmsg.payload = JSON.stringify(data)\n\nif (msg.parts.index == (msg.parts.count - 1)) {\n    msg.complete = true\n}\n\nreturn [[newMsg1,msg]];",
                "outputs": "1",
                "noerr": 0,
                "x": 790,
                "y": 1160,
                "wires": [
                    [
                        "{{_id}}-49"
                    ]
                ]
            },
            {
                "id": "{{_id}}-49",
                "type": "link out",
                "name": "Send To ES",
                "links": [
                    "{{_id}}-21"
                ],
                "x": 995,
                "y": 1160,
                "wires": []
            },
            {
                "id": "{{_id}}-50",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "obj",
                "url": "",
                "tls": "",
                "x": 410,
                "y": 1280,
                "wires": [
                    [
                        "{{_id}}-55"
                    ]
                ]
            },
            {
                "id": "{{_id}}-51",
                "type": "function",
                "name": "",
                "func": "var owner = flow.get('owner');\nvar repo = flow.get('repo');\n\nhash = \"token \" + flow.get('token');\n  \nmsg.headers = {\n    \"User-Agent\": \"Conveyor\",\n    \"Authorization\": hash\n}\n\nmsg.url = 'https://api.github.com/repos/' + owner + '/' + repo + '/traffic/views'\nmsg.method = 'GET'\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 270,
                "y": 1280,
                "wires": [
                    [
                        "{{_id}}-50"
                    ]
                ]
            },
            {
                "id": "{{_id}}-52",
                "type": "link in",
                "name": "",
                "links": [
                    "{{_id}}-6"
                ],
                "x": 155,
                "y": 1320,
                "wires": [
                    [
                        "{{_id}}-51"
                    ]
                ]
            },
            {
                "id": "{{_id}}-53",
                "type": "inject",
                "name": "",
                "topic": "",
                "payload": "",
                "payloadType": "date",
                "repeat": "",
                "crontab": "",
                "once": false,
                "x": 120,
                "y": 1280,
                "wires": [
                    [
                        "{{_id}}-51"
                    ]
                ]
            },
            {
                "id": "{{_id}}-54",
                "type": "comment",
                "name": "Views",
                "info": "",
                "x": 110,
                "y": 1240,
                "wires": []
            },
            {
                "id": "{{_id}}-55",
                "type": "function",
                "name": "",
                "func": "if (msg.statusCode == 200) {\n    msg.payload = msg.payload.views.slice(2,15)\n    return msg\n}",
                "outputs": "1",
                "noerr": 0,
                "x": 550,
                "y": 1280,
                "wires": [
                    [
                        "{{_id}}-56"
                    ]
                ]
            },
            {
                "id": "{{_id}}-56",
                "type": "split",
                "name": "",
                "splt": "\\n",
                "spltType": "str",
                "arraySplt": 1,
                "arraySpltType": "len",
                "stream": false,
                "addname": "",
                "x": 670,
                "y": 1280,
                "wires": [
                    [
                        "{{_id}}-57"
                    ]
                ]
            },
            {
                "id": "{{_id}}-57",
                "type": "function",
                "name": "",
                "func": "var data = msg.payload\n\ndata.metric = 'views'\ndata.rank = msg.parts.index + 1\n\ndata.date = data.timestamp\ndelete data.timestamp\n\nvar operation = {\n    \"_index\": \"{{_index}}\",\n    \"_type\": \"default\",\n    \"_id\": data.date + '-' + data.metric\n}\n\nvar newMsg1 = {};\nnewMsg1.payload = JSON.stringify({index: operation})\nmsg.payload = JSON.stringify(data)\n\nif (msg.parts.index == (msg.parts.count - 1)) {\n    msg.complete = true\n}\n\nreturn [[newMsg1,msg]];",
                "outputs": "1",
                "noerr": 0,
                "x": 790,
                "y": 1280,
                "wires": [
                    [
                        "{{_id}}-58"
                    ]
                ]
            },
            {
                "id": "{{_id}}-58",
                "type": "link out",
                "name": "Send To ES",
                "links": [
                    "{{_id}}-21"
                ],
                "x": 995,
                "y": 1280,
                "wires": []
            },
            {
                "id": "{{_id}}-59",
                "type": "http request",
                "name": "",
                "method": "use",
                "ret": "obj",
                "url": "",
                "tls": "",
                "x": 410,
                "y": 1400,
                "wires": [
                    [
                        "{{_id}}-64"
                    ]
                ]
            },
            {
                "id": "{{_id}}-60",
                "type": "function",
                "name": "",
                "func": "var owner = flow.get('owner');\nvar repo = flow.get('repo');\n\nhash = \"token \" + flow.get('token');\n  \nmsg.headers = {\n    \"User-Agent\": \"Conveyor\",\n    \"Authorization\": hash\n}\n\nmsg.url = 'https://api.github.com/repos/' + owner + '/' + repo + '/traffic/clones'\nmsg.method = 'GET'\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 270,
                "y": 1400,
                "wires": [
                    [
                        "{{_id}}-59"
                    ]
                ]
            },
            {
                "id": "{{_id}}-61",
                "type": "link in",
                "name": "",
                "links": [
                    "{{_id}}-6"
                ],
                "x": 155,
                "y": 1440,
                "wires": [
                    [
                        "{{_id}}-60"
                    ]
                ]
            },
            {
                "id": "{{_id}}-62",
                "type": "inject",
                "name": "",
                "topic": "",
                "payload": "",
                "payloadType": "date",
                "repeat": "",
                "crontab": "",
                "once": false,
                "x": 120,
                "y": 1400,
                "wires": [
                    [
                        "{{_id}}-60"
                    ]
                ]
            },
            {
                "id": "{{_id}}-63",
                "type": "comment",
                "name": "Clones",
                "info": "",
                "x": 110,
                "y": 1360,
                "wires": []
            },
            {
                "id": "{{_id}}-64",
                "type": "function",
                "name": "",
                "func": "if (msg.statusCode == 200) {\n    msg.payload = msg.payload.clones.slice(2,15)\n    return msg\n}",
                "outputs": "1",
                "noerr": 0,
                "x": 550,
                "y": 1400,
                "wires": [
                    [
                        "{{_id}}-65"
                    ]
                ]
            },
            {
                "id": "{{_id}}-65",
                "type": "split",
                "name": "",
                "splt": "\\n",
                "spltType": "str",
                "arraySplt": 1,
                "arraySpltType": "len",
                "stream": false,
                "addname": "",
                "x": 670,
                "y": 1400,
                "wires": [
                    [
                        "{{_id}}-66"
                    ]
                ]
            },
            {
                "id": "{{_id}}-66",
                "type": "function",
                "name": "",
                "func": "var data = msg.payload\n\ndata.metric = 'clones'\ndata.rank = msg.parts.index + 1\n\ndata.date = data.timestamp\ndelete data.timestamp\n\nvar operation = {\n    \"_index\": \"{{_index}}\",\n    \"_type\": \"default\",\n    \"_id\": data.date + '-' + data.metric\n}\n\nvar newMsg1 = {};\nnewMsg1.payload = JSON.stringify({index: operation})\nmsg.payload = JSON.stringify(data)\n\nif (msg.parts.index == (msg.parts.count - 1)) {\n    msg.complete = true\n}\n\nreturn [[newMsg1,msg]];",
                "outputs": "1",
                "noerr": 0,
                "x": 790,
                "y": 1400,
                "wires": [
                    [
                        "{{_id}}-67"
                    ]
                ]
            },
            {
                "id": "{{_id}}-67",
                "type": "link out",
                "name": "Send To ES",
                "links": [
                    "{{_id}}-21"
                ],
                "x": 995,
                "y": 1400,
                "wires": []
            },
            {
                "id": "{{_id}}-68",
                "type": "link out",
                "z": "8f29930b.1f793",
                "name": "Init Out",
                "links": [
                    "b9f24f0a.fdec7"
                ],
                "x": 835,
                "y": 80,
                "wires": []
            }
        ]
    }
}