channel-sources/ms-sql-truncate-reload/def.json
{
  "name": "SQL Server Scheduled Query",
  "description": "With this flow you can populate an ES index with SQL Server data. Truncate/Reload and Incremental Updates are supported.",
  "groups": [
    {
      "key": "connectionInformation",
      "title": "Server Connection Information",
      "description": "Below provide the information required to connect to your server."
    },
    {
      "key": "connectionCredential",
      "title": "Server Connection Credentials",
      "description": "Now that we know how to connect to your SQL Server, let's make sure we have the permission to do so."
    },
    {
      "key": "queryDetails",
      "title": "Query Details",
      "description": "Great, we are connected and down to business. Specify how often you want to update your data and the query you want to use"
    }
  ],
  "parameters": [
    {
      "type": "text",
      "group": "connectionInformation",
      "name": "server",
      "label": "Server",
      "description": "Server",
      "required": true
    },
    {
      "type": "text",
      "group": "connectionInformation",
      "name": "database",
      "label": "Database",
      "description": "Database"
    },
    {
      "type": "text",
      "group": "connectionCredential",
      "name": "userName",
      "label": "Username",
      "required": true
    },
    {
      "type": "password",
      "group": "connectionCredential",
      "name": "password",
      "label": "Password",
      "description": "Password",
      "required": true
    },
    {
      "type": "text",
      "group": "connectionCredential",
      "name": "domain",
      "label": "Domain",
      "description": "Domain"
    },
    {
      "type": "boolean",
      "group": "connectionCredential",
      "name": "encrypt",
      "label": "Encrypt the Connection?",
      "description": "Set this to true if you need to encrypt the connection, this is usually required for Azure."
    },
    {
      "type": "text",
      "group": "queryDetails",
      "name": "updateFrequency",
      "label": "Update Frequency",
      "placeholder": "ex: Every 5 minutes",
      "description": "Specify the frequency of update in fairly natural language. Here are some examples<ul><li>\"every 15 minutes\"</li><li>\"on the last day of the month\"</li><li>\"at 5:00pm from Monday trought Friday\"</li></ul><br\\>For more examples click <a>here</a>.",
      "required": true
    },
    {
      "type": "boolean",
      "group": "queryDetails",
      "name": "truncate",
      "label": "Truncate Before Load",
      "description": "If this is set to true the ES index will be cleared before new data is inserted."
    },
    {
      "type": "text",
      "group": "queryDetails",
      "name": "uniqueField",
      "label": "Unique Field",
      "description": "Specifying a unique field with truncate turned off allows for incremental loads of data. The unique field will prevent duplicates and allow updates. This also exposes the parameter latestUniqueField to the query. Use it star the query at the right spot.",
      "required": false
    },
    {
      "type": "text",
      "group": "queryDetails",
      "name": "uniqueFieldStart",
      "label": "Unique Field Starting Position",
      "default": "0",
      "description": "Generally speaking you're going to set a value here where the query should start and it will work incrementally up from that point.",
      "required": false
    },
    {
      "type": "code",
      "group": "queryDetails",
      "name": "query",
      "label": "Query",
      "placeholder": "Query",
      "description": "Query",
      "required": true
    }
  ],
  "flow": {
    "label": "{{_name}}",
    "nodes": [
      {
        "repeat": "",
        "name": "Inject on Startup",
        "crontab": "",
        "id": "{{_id}}-1",
        "topic": "",
        "payloadType": "str",
        "wires": [
          [
            "{{_id}}-2"
          ]
        ],
        "y": 40,
        "x": 130,
        "type": "inject",
        "payload": "Fail",
        "once": true
      },
      {
        "wires": [
          [
            "{{_id}}-4"
          ]
        ],
        "name": "",
        "schedule": "{{updateFrequency}}",
        "y": 40,
        "x": 510,
        "type": "later",
        "id": "{{_id}}-3"
      },
      {
        "wires": [],
        "console": "false",
        "complete": "true",
        "y": 34,
        "active": true,
        "x": 1171,
        "type": "debug",
        "id": "{{_id}}-5",
        "name": "These Are Errors!"
      },
      {
        "wires": [
          [
            "{{_id}}-3"
          ]
        ],
        "name": "",
        "outputs": 1,
        "noerr": 0,
        "func": "flow.set('index', '{{_index}}')\nflow.set('truncate', {{truncate}})\nflow.set('uniqueField', '{{uniqueField}}')\nflow.set('latestUniqueField', '{{uniqueFieldStart}}')\n\nreturn msg;",
        "y": 40,
        "x": 330,
        "type": "function",
        "id": "{{_id}}-2"
      },
      {
        "wires": [
          [
            "{{_id}}-7"
          ]
        ],
        "name": "Query",
        "format": "handlebars",
        "syntax": "mustache",
        "field": "payload",
        "fieldType": "msg",
        "template": "{{{query}}}",
        "x": 130,
        "y": 240,
        "output": "str",
        "type": "template",
        "id": "{{_id}}-6"
      },
      {
        "outField": "payload",
        "wires": [
          [
            "{{_id}}-9"
          ]
        ],
        "name": "",
        "mssqlCN": "{{_id}}-8",
        "x": 270,
        "y": 240,
        "query": "",
        "type": "MSSQL",
        "id": "{{_id}}-7"
      },
      {
        "wires": [
          [
            "{{_id}}-5"
          ],
          [
            "{{_id}}-10"
          ]
        ],
        "name": "Verify Later Parse",
        "outputs": "2",
        "noerr": 0,
        "func": "if (msg.later) {\n    return [null, msg]\n} else {\n    return [msg, null];\n}",
        "y": 40,
        "x": 690,
        "type": "function",
        "id": "{{_id}}-4"
      },
      {
        "wires": [
          [
            "{{_id}}-12"
          ]
        ],
        "name": "",
        "outputs": "1",
        "noerr": 0,
        "func": "var index = flow.get('index')\nvar operation = {\n    \"_index\": index,\n    \"_type\": \"default\"\n    }\n    \nvar uniqueField = flow.get('uniqueField')\n\nif (uniqueField && uniqueField !== '' && msg.payload[uniqueField]) {\n    operation['_id'] = msg.payload[uniqueField]\n    \n    if (msg.parts.index == msg.parts.count - 1) {\n        flow.set('latestUniqueField', msg.payload[uniqueField])\n    }\n}\n\nvar msg1 = {\n    payload: JSON.stringify({index: operation})\n}\n\nvar msg2 = {\n    payload: JSON.stringify(msg.payload)\n}\n\nif (msg.parts.index == (msg.parts.count - 1)) {\n    msg2.complete = true\n}\n\nreturn [[msg1,msg2]];",
        "y": 240,
        "x": 550,
        "type": "function",
        "id": "{{_id}}-11"
      },
      {
        "wires": [
          [
            "{{_id}}-11"
          ]
        ],
        "name": "",
        "splt": "\\n",
        "y": 240,
        "x": 410,
        "type": "split",
        "id": "{{_id}}-9"
      },
      {
        "count": "1000",
        "joiner": "\\n",
        "name": "",
        "timeout": "",
        "wires": [
          [
            "{{_id}}-13"
          ]
        ],
        "build": "string",
        "key": "topic",
        "propertyType": "msg",
        "y": 240,
        "x": 690,
        "property": "payload",
        "type": "join",
        "id": "{{_id}}-12",
        "mode": "custom"
      },
      {
        "tls": "",
        "wires": [
          [
            "{{_id}}-15"
          ]
        ],
        "name": "",
        "url": "elasticsearch:9200/_bulk",
        "ret": "obj",
        "id": "{{_id}}-14",
        "y": 240,
        "x": 1090,
        "type": "http request",
        "method": "POST"
      },
      {
        "wires": [
          [
            "{{_id}}-14"
          ]
        ],
        "name": "Add Trailing New Line",
        "outputs": 1,
        "noerr": 0,
        "func": "msg.payload += \"\\n\"\nreturn msg;",
        "y": 240,
        "x": 880,
        "type": "function",
        "id": "{{_id}}-13"
      },
      {
        "wires": [],
        "console": "false",
        "complete": "false",
        "y": 240,
        "active": true,
        "x": 1270,
        "type": "debug",
        "id": "{{_id}}-15",
        "name": ""
      },
      {
        "wires": [],
        "name": "Truncate",
        "links": [
          "{{_id}}-17"
        ],
        "y": 99,
        "x": 987.5,
        "type": "link out",
        "id": "{{_id}}-16"
      },
      {
        "wires": [
          [
            "{{_id}}-18"
          ]
        ],
        "name": "Truncate In",
        "links": [
          "{{_id}}-16"
        ],
        "y": 140,
        "x": 35,
        "type": "link in",
        "id": "{{_id}}-17"
      },
      {
        "info": "",
        "wires": [],
        "name": "Truncate Existing Data",
        "y": 100,
        "x": 120,
        "type": "comment",
        "id": "{{_id}}-19"
      },
      {
        "tls": "",
        "wires": [
          [
            "{{_id}}-21"
          ]
        ],
        "name": "",
        "url": "elasticsearch:9200/{{_index}}/_delete_by_query",
        "ret": "obj",
        "id": "{{_id}}-20",
        "y": 140,
        "x": 610,
        "type": "http request",
        "method": "POST"
      },
      {
        "wires": [],
        "name": "Query",
        "links": [
          "{{_id}}-23"
        ],
        "y": 199,
        "x": 951,
        "type": "link out",
        "id": "{{_id}}-22"
      },
      {
        "wires": [
          [
            "{{_id}}-6"
          ]
        ],
        "name": "Query In",
        "links": [
          "{{_id}}-22"
        ],
        "y": 240,
        "x": 35,
        "type": "link in",
        "id": "{{_id}}-23"
      },
      {
        "info": "",
        "wires": [],
        "name": "Query New Data",
        "y": 200,
        "x": 100,
        "type": "comment",
        "id": "{{_id}}-24"
      },
      {
        "wires": [
          [
            "{{_id}}-5"
          ],
          [
            "{{_id}}-22"
          ]
        ],
        "name": "",
        "outputs": "2",
        "noerr": 0,
        "func": "if (msg.statusCode && msg.statusCode == 200) {\n    return [null, msg]\n} else {\n    return [msg, null]\n}",
        "y": 140,
        "x": 770,
        "type": "function",
        "id": "{{_id}}-21"
      },
      {
        "wires": [
          [
            "{{_id}}-20"
          ],
          [
            "{{_id}}-22"
          ]
        ],
        "name": "",
        "outputs": "2",
        "noerr": 0,
        "func": "if (msg.statusCode == 200) {\n    var newMsg = {\n        payload: {\n            \"query\": {\n                \"match_all\": {}\n            }\n        }\n    }\n    return [newMsg, null]\n} else {\n    return [null, {}]    \n}",
        "y": 140,
        "x": 450,
        "type": "function",
        "id": "{{_id}}-25"
      },
      {
        "tls": "",
        "wires": [
          [
            "{{_id}}-25"
          ]
        ],
        "name": "",
        "url": "elasticsearch:9200/{{_index}}",
        "ret": "txt",
        "id": "{{_id}}-26",
        "y": 140,
        "x": 290,
        "type": "http request",
        "method": "use"
      },
      {
        "wires": [
          [
            "{{_id}}-26"
          ]
        ],
        "name": "",
        "outputs": 1,
        "noerr": 0,
        "func": "msg.method = 'HEAD'\nreturn msg;",
        "y": 140,
        "x": 130,
        "type": "function",
        "id": "{{_id}}-18"
      },
      {
        "checkall": "false",
        "wires": [
          [
            "{{_id}}-22"
          ],
          [
            "{{_id}}-16"
          ]
        ],
        "name": "",
        "rules": [
          {
            "t": "false"
          },
          {
            "t": "true"
          }
        ],
        "outputs": 2,
        "propertyType": "flow",
        "y": 81,
        "x": 845.5,
        "property": "truncate",
        "type": "switch",
        "id": "{{_id}}-10"
      },
      {
        "name": "Connection for {{_name}}",
        "database": "{{database}}",
        "server": "{{server}}",
        "encyption": "{{encrypt}}",
        "credentials": {
          "username": "{{userName}}",
          "domain": "{{domain}}",
          "password": "{{password}}"
        },
        "type": "MSSQL-CN",
        "id": "{{_id}}-8"
      }
    ]
  }
}